@import "tailwindcss";

@plugin "tailwindcss-animate";


@custom-variant dark (&:is(.dark *));

/* Root theme (default = dark mode) */
:root {
  --text: #ffffff;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/* Light mode */
.light {
  --background: #ffffff;
  --text: #0f0f0f;
}

/* Dark mode */
.dark {
  --background: oklch(0.145 0 0);
  --text: #ffffff;
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/* Apply variables globally */
body {
  color: var(--text);
}

.stack-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}

.marquee-content {
  animation: scroll-loop 25s linear infinite;
  white-space: nowrap;
}

@keyframes scroll-loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 0.5rem))
  }
}

.custom-scrollbar {
  scrollbar-width: thin; /* Fsasqa1irefox */
  scrollbar-color: #1dffd9; /* thumb color, track color */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar */
  background: #1f8bf7; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #17dbba; /* Thumb color */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-button:single-button {
  display: none;
  height: 0;
  width: 0;
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ea2626; /* Darker thumb on hover */
}

/* Your glass style */
.glass {
  background: rgba(4, 158, 226, 0.1490196078);
  border-radius: 110px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #049ee24d;
}

.glass2 {
  border-radius: 100px;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #ffffff4d;
}

.glass3 {
  background: #5d5d5d9e;
  border-radius: 100px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(93, 93, 93, 0.3);
}

.glass4 {
  background: rgba(5, 48, 76, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(5, 48, 76, 0.3);
}

.glass5 {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid #ffffff4d;
}

.glass6 {
  background: rgba(5, 48, 76, 0.588);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(5, 48, 76, 0.3);
}

.glass7 {
  background: #05304cb2;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid #05304c4d;
}

.glass8 {
  background: #05304c42;
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(5, 48, 76, 0.3);
}

.glass9 {
background: rgba(2, 40, 65, 0.46);
border-radius: 5px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.1px);
-webkit-backdrop-filter: blur(7.1px);
border: 1px solid rgba(2, 40, 65, 0.3);
}

.background-gradient {
  /* Light mode */
  background: radial-gradient(
    circle at top,
    rgba(119, 214, 255, 1) 0%,
    rgba(119, 214, 255, 0.95) 5%,
    rgba(119, 214, 255, 0.88) 10%,
    rgba(119, 214, 255, 0.8) 15%,
    rgba(119, 214, 255, 0.72) 20%,
    rgba(119, 214, 255, 0.64) 25%,
    rgba(119, 214, 255, 0.56) 30%,
    #77d6ff7a 35%,
    rgba(119, 214, 255, 0.4) 40%,
    rgba(119, 214, 255, 0.32) 45%,
    rgba(119, 214, 255, 0.24) 50%,
    rgba(119, 214, 255, 0.18) 55%,
    rgba(119, 214, 255, 0.14) 60%,
    rgba(119, 214, 255, 0.1) 65%,
    rgba(119, 214, 255, 0.07) 70%,
    rgba(119, 214, 255, 0.045) 73%,
    rgba(119, 214, 255, 0.025) 76%,
    rgba(119, 214, 255, 0.012) 78%,
    rgba(119, 214, 255, 0.005) 79%,
    rgba(119, 214, 255, 0) 80%
  );
}

.dark .background-gradient {
  /* Dark mode */
  background: radial-gradient(
    circle at top,
    #05304c 0%,
    rgba(5, 48, 76, 0.95) 5%,
    rgba(5, 48, 76, 0.88) 10%,
    rgba(5, 48, 76, 0.8) 15%,
    rgba(5, 48, 76, 0.72) 20%,
    rgba(5, 48, 76, 0.64) 25%,
    rgba(5, 48, 76, 0.56) 30%,
    rgba(5, 48, 76, 0.48) 35%,
    rgba(5, 48, 76, 0.4) 40%,
    rgba(5, 48, 76, 0.32) 45%,
    rgba(5, 48, 76, 0.24) 50%,
    rgba(5, 48, 76, 0.18) 55%,
    rgba(5, 48, 76, 0.14) 60%,
    rgba(5, 48, 76, 0.1) 65%,
    rgba(5, 48, 76, 0.07) 70%,
    rgba(5, 48, 76, 0.045) 73%,
    rgba(5, 48, 76, 0.025) 76%,
    rgba(5, 48, 76, 0.012) 78%,
    rgba(5, 48, 76, 0.005) 79%,
    rgba(5, 48, 76, 0) 80%
  );
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
